*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.header-container{
    justify-content: space-between;
    display: flex;
}
.header-list{
    display: flex;
    gap: 20px;
}